<div class="main-header w-full shadow-1">
  <div class="grid grid-nogutter">
    <div class="col-12 flex">
      <div class="main-header__right ml-auto">
        <p-splitButton
          label="Angel J Portillo"
          styleClass="p-button-text"
        ></p-splitButton>
        <p-button
          type="button"
          icon="pi pi-bell"
          styleClass="p-button-text mr-1"
        ></p-button>
        <p-button
          type="button"
          icon="pi pi-sign-out"
          styleClass="p-button-text mr-1"
        ></p-button>
      </div>
    </div>
  </div>
</div>
